body {
    background-color: white;
}

@media screen and (max-width:339px) {
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        align-items: center;
        flex-direction: column;



    }
    #desktop {
        max-width: 339px;
        max-height: 224px;
    }


    .alert-info {
        background-color: rgba(0,200,230,0.22);
        width: 100%;

    }
}